<h1>数列の種類を選んで問題に挑戦しよう！</h1>

<div class="progression-choice-area">
  <div>
    <%= button_to "レベル1", "/quiz/#{ProgressionQuizLevel::LEVEL1}", { method: :get} %>
  </div>
  <div>
    <%= button_to "レベル2", "/quiz/#{ProgressionQuizLevel::LEVEL2}", { method: :get} %>
  </div>
  <div>
    <%= button_to "レベル3", "/quiz/#{ProgressionQuizLevel::LEVEL3}", { method: :get} %>
  </div>
</div>
