<h1>数列の種類を選んで問題に挑戦しよう！</h1>

<div class="progression-choice-area">
  <div>
    <%= button_to "甘口", "/quiz/#{ProgressionQuizLevel::EASY}", { method: :get} %>
  </div>
  <div>
    <%= button_to "中辛", "/quiz/#{ProgressionQuizLevel::NORMAL}", { method: :get} %>
  </div>
  <div>
    <%= button_to "辛口", "/quiz/#{ProgressionQuizLevel::HARD}", { method: :get} %>
  </div>
</div>
